[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbdev = "*"
jupyter = "*"
fastcore = "*"
biopython = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
matplotlib = "*"
numpy = "*"
python-dotenv = "*"
pubmed-lib = {editable = true, path = "."}
instructor = "*"
pydantic = {extras = ["email"] }
openai = "*"

[dev-packages]
nbdev = "*"
jupyter = "*"
twine = "*"

[requires]
python_version = "3.11"
